
body{
 background-color: #FBFACD;
}

h1{
  color: #6f42a5;
}
h3{
  color: #6f42a5;
}
img:hover{
  background-color: gold;
}

hr{
  border-style: none;
  border-top-style: dotted; 
  border-width: 8px;
  border-color: grey;
  height: 0px;
  width: 5%;
}

